  /*
Master
  */


.container {
  margin: 0 auto;  
  width: 720px;
}

  /*
Header
  */

  header {

  }


    /*
Sidebar
  */
nav {
  float: left;
  width: 120px;
}

nav ul {
  list-style-type: none;
}
  /*
Content
  */

.content {
  float: right;
  border-left: 1px solid #222;
  padding-left: 20px;
  width: 579px;

}

  /*
Footer
  */
.footer {
  border-top: 1px solid #222;
  clear: both;
}
