  /*
Master
  */


.container {
  margin: 0 auto;  
  width: 720px;
}

  /*
Header
  */

  header {

  }


    /*
Sidebar
  */
nav {
  float: left;
  width: 120px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
  /*
Content
  */

.content {
  float: right;
  border-left: 1px dotted #222;
  padding: 0px 0px 0px 20px;
  width: 579px;

}

.content h2 {
  margin: 0;
}

  /*
Footer
  */
.footer {
  border-top: 1px dotted #222;
  clear: both;
  padding: 20px 0px 20px 140px;
}
